doctype html
html(lang="en")
  head
    include header
  body
    include partials/navigation

    .container
      include partials/flash
      block content

    include partials/footer

    != js('application')
